body, main {
    display: flex;
}
body {
    display: flex;
    flex-direction: column;
    background: #ffffff url(https://vignette.wikia.nocookie.net/marblelympics/images/5/50/Wiki-background/revision/latest?cb=20190810173425) top center repeat;
    font: 100% georgia, sans-serif;
    line-height: 1.5;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    color: #070a1dbd;
}
article {
    flex: 2;
    overflow-y: auto;
    background-color: white;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: white;
    flex: 1;
    overflow-y: auto;
}
header {
    background-color: #0274be;
}
footer {
    background-color: white;
}
header img {
    height: 50px;
    padding-left: 10vh;
}
aside {
    flex: 1;
    overflow-y: auto;
}
main a {
    font-weight: bold;
    color: #141f67bd;
}
.small {
    display: block;
    margin: 0 auto;
}
/*flexbox for team logos*/

.column {
    float: left;
    width: auto;
    padding: 5px;
}
.row {
    display: flex;
    padding: 0 4px;
}