body, main {
    display: flex;
}
body {
    display: flex;
    flex-direction: column;
    background: #ffffff url(https://vignette.wikia.nocookie.net/marblelympics/images/5/50/Wiki-background/revision/latest?cb=20190810173425) top center repeat;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    overflow-y: scroll;
    background-color: white;
}
aside {
	flex: 1;
	overflow-y: auto;
	background-color: white;

    flex: 1;
    overflow-y: auto;
}
header {
    background-color: #0274be;
}
footer {
    background-color: white;
}
header img {
    max-width: 95%;
    max-height: 95%;
    padding-left: 10vh;
}
aside {
    flex: 1;
    overflow-y: auto;
}
.twitter-timeline {}
/*flexbox for team logos*/

.column {
    float: left;
    width: auto;
    padding: 5px;
}
.row {
    display: flex;
    padding: 0 4px;
}